{% extends 'base.html' %}

{% block title %}
  Login - Socinal APIs Docs
{% endblock %}

{% block header %}
  {% include 'usuarios/menu.html' %}
{% endblock %}

{% block main %}
<div class="container center">
  <div class="card w-18r bg-transparent-0">
    <div class="card-body bg-transparent-035">
      <p class="card-title text-center">
        <img class="mb-3" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"><br>
        <span class="h4 ff-myriadpro-bold">Tarefas Alerta!</span>
      </p>
      <form action="{{ url_for('index') }}" method="POST" id="form_login">
        {{ login_form.hidden_tag() }}
        {{ login_form.next() }}
        <div class="row mb-3">
          <div class="col">
            {{ login_form.login.label(class='fw-bold') }}
            {% if login_form.login.errors %}
              {{ login_form.login(class='form-control is-invalid', placeholder="Informe seu login") }}
              <div class="invalid-feedback">
                {% for error in login_form.login.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
              {{ login_form.login(class='form-control', placeholder="Informe seu login") }}
            {% endif %}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            {{ login_form.senha.label(class='fw-bold') }}
            {% if login_form.senha.errors %}
              {{ login_form.senha(class='form-control is-invalid', placeholder="Digite sua senha") }}
              <div class="invalid-feedback">
                {% for error in login_form.senha.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
              {{ login_form.senha(class='form-control', placeholder="Digite sua senha") }}
            {% endif %}
          </div>
        </div>
        <div class="row mb-4">
          <div class="col text-center">
            {{ login_form.lembrar_dados(class='form-check-input') }}
            {{ login_form.lembrar_dados.label(class='form-check-label') }}
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" id="entrar">Entrar</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}